:root {
  --green: rgb(132, 163, 146);
  --brown: rgb(224, 110, 110);
  --text: black;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text);
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100%;
}

/* End of universal styling */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
  padding: 10px;
  padding-bottom: 40px;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 925px) {
  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

}

h1 {
  font-size: 50px;
  color: var(--text);
}

nav:hover {
  font-size: larger;
}

#ame {
  border: 1px dashed black;
  padding: 5px;
  text-align: center;
}

#ame:hover {
  color: var(--brown);
  border: 3px dashed var(--brown);
  font-weight: bolder;
}

#mw {
  border: 1px dashed black;
  padding: 5px;
  text-align: center;
}

#mw:hover {
  color: var(--brown);
  border: 3px dashed var(--brown);
  font-weight: bolder;
}

#con {
  border: 1px dashed black;
  padding: 5px;
  text-align: center;
}

#con:hover {
  color: var(--brown);
  border: 3px dashed var(--brown);
  font-weight: bolder;
}

/* End of header section */

body {
  background-color: bisque;
}

#About-Me {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

#About-Me > p {
  margin: 0px 50px;

}

#My-Work {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#contact-info {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

h2 {
  font-size: 40px;
  text-align: center;
  padding: 15px;
  margin-left: 10px;
  margin-right: 20px;
  border: 5px solid lightcoral;
  width: 210px;
  position:relative;
}

.sec > p {
  width: 75%;
}

#bwang {
  width: 25%;
}

#brian {
  width: 100%;
  object-fit: cover;
  background-position: center;
  margin-top: 10px;
}

#work {
  display: flex;
  flex-wrap: wrap;
}

#prework {
  width: 100%;
  display:flex;
  flex: 2 1 600px;
}

.placeholder {
  display: flex;
  flex: 1 2 300px;
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%
}

footer > p {
  text-align: center;
}
@media screen and (max-width: 925px) {
  .sec  {
  display:flex;
  flex-direction: column;
 } 
  h2 {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
 }
 #prework {
  width:100%;
 }
 p {
  margin-top: 10px;
  margin-bottom: 10px;
 }
}