:root {
  --green: rgb(132, 163, 146);
  --white: rgb(255, 255, 255);
  --text: black;
  --coral: rgb(240, 128, 128);
  --offwhite: rgba(255, 255, 255, 0.829);
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text);
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100%;
}

/* End of universal styling */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
  padding: 10px;
  padding-bottom: 40px;
  width: 100%;
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
  color: var(--text);
}

nav:hover {
  font-size: larger;
}

.link {
  border: 1px dashed black;
  padding: 5px;
  text-align: center;
}

.link:hover {
  color: var(--white);
  border: 3px dashed var(--white);
  font-weight: bolder;
}

/* End of header section */

body {
  background-image:url(/assets/images/Background.jpg);
  background-color: bisque;
}

.sec {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

h2 {
  font-size: 40px;
  text-align: center;
  padding: 15px;
  margin-left: 10px;
  margin-right: 20px;
  border: 10px, solid, var(--coral);
  width: 210px;
  position:relative;
  background-color: var(--offwhite);
}

#about {
  background-color: var(--offwhite);
}

.sec > p {
  width: 75%;
  background-color: var(--offwhite);
}

#bwang {
  width: 25%;
}

#brian {
  width: 100%;
  object-fit: cover;
  background-position: center;
  margin-top: 10px;
}

#work {
  display: flex;
  flex-wrap: wrap;
}

#prework {
  height: 400px;
  width: 100%;
  object-fit: cover;
  display:flex;
  flex: 2 1 600px;
}

#horiseon {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  object-fit: cover;
  background-position: center;
}

.placeholder {
  display: flex;
  flex: 1 2 300px;
}

/* Below is the styling for the footer section*/

footer {
  position: relative;
  bottom: 0px;
  width: 100%
}

footer > p {
  text-align: center;
}

/* Below helps reformat for smaller screens */

@media screen and (max-width: 925px) {
  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .sec  {
  display:flex;
  flex-direction: column;
  } 
  h2 {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
 }
 #prework {
  width:100%;
 }
 p {
  margin-top: 10px;
  margin-bottom: 10px;
 }
}